rs.initiate(
  {
    _id: "CONFIG SERVER CLUSTER NAME",
    configsvr: true,
    members: [
      { _id : 0, host : "[ipaddress]:[port]" },
      { _id : 1, host : "[ipaddress]:[port]"" },
      { _id : 2, host : "[ipaddress]:[port]" }
    ]
  }
)