**/*.env
!**/*sample.env

**/*initscript
!**/*initscript.sample

**/*clusterscript
!**/*clusterscript.sample

**/*shardscript
!**/*shardscript.sample

**/*.var
!sample.var

/keycert/*/*
!/keycert/*/gencert

**/*.pem
**/*data

migration-script/DATABASES